<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login페이지</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
</head>
<div class="container">
    <h1>로그인하세요!</h1>
    <form id="loginForm" action="/soso" method="post">
        <div class="login">
            <input type="text" id="login" placeholder="login">
        </div>
        <div class="password">
            <input type="password" id="pw" placeholder="password">
        </div>
        <button type="submit">로그인</button>
    </form>
    <div class="res">
        {{ response | safe }}
    </div>
    <a href="/souce">flask 소스 보기</a>
</div>
<script>
    // 폼 제출 이벤트 리스너
    document.getElementById("loginForm").addEventListener("submit", function (event) {
        event.preventDefault(); // 기본 제출 동작 막기

        // 로그인 폼에서 입력한 값을 가져오기
        var login = document.getElementById("login").value;
        var password = document.getElementById("pw").value;

        // 서버로 POST 요청 보내기
        fetch("/soso", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                login: login,
                pw: password
            })
        })
            .then((res) => res.json())
            .then((res) => {
                if (res.success) {
                    location.href = `/login_suc_${res.id}`;
                } else {
                    return alert("비번 또는 아이디가 틀려요");
                }
            })
            .catch(error => {
                console.error("Error:", error);
            });
    });
</script>

</html>